.form-header {
  margin: 1rem 0;
  text-align: center;
  padding: 1rem 0;
  border-radius: 3px;
}

.auth-wrapper form {
  background: white;
  box-shadow:
      0 15px 30px rgba(0, 0, 0, 0.05),
      0  5px 15px rgba(0, 0, 0, 0.05);
}

form {
  border: 1px solid $border;
  border-radius: 3px;
  padding: 1.5rem;

  .field {
    margin: 1.5rem 0;

    label {
      font-size: $font-size - 1px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $border;
    margin: 2rem 0;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}