input[type="text"],
input[type="email"],
input[type="password"] {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin-top: 0.5rem;
  background: $input;
  border: 1px solid $border;
  border-radius: 2px;
  line-height: 1.1;
  color: $text;
  padding: 10px 14px;

  &.wide {
    max-width: unset;
  }
}

textarea {
  position: relative;
  margin-top: 0.5rem;
  height: 5rem;
  border: 1px solid $border;
  background: $input;
  border-radius: 2px;
  line-height: 1.1;
  color: $text;
  padding: 10px;
  width: 440px;
}