.event-list {
  list-style-type: none;
  margin: -2rem;
  padding: 0;

  .event {
    border-bottom: 2px solid $border;

    a {
      display: block;
      padding: 1.25rem 1.5rem;
      text-decoration: none;
      color: $text;

      &:hover .preview {
        color: $primary;
      }
    }

    .preview {
      color: lighten($text-bold, 5%);
      font-weight: bold;
      margin: 0 0 0.25rem;
    }

    .footer {
      display: flex;
      align-items: flex-start;
      margin: 0;

      p {
        display: inline;
        margin: 0 auto 0 0;
      }
    }

  }

}