.issue-header {
  padding-bottom: 2rem;
  border-bottom: 1px solid $border;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-top: 0;
  }

  .buttons,
  .button-secondary {
    margin: 0;
  }

}

.issue-description {
  margin: 0.25rem 0;

  .badge {
    background: $primary;
    color: $primary-inverted;
    border-radius: 2px;
    margin-right: 0.25rem;
    font-size: 85%;
    padding: 1px 0;
    line-height: 1.0;
    font-weight: bold;
    letter-spacing: 1px;

    &:before,
    &:after {
      content: '\00a0';
    }
  }
}

.issue-body {
  padding: 1.5rem;
  border: 2px solid $border;
  border-radius: 3px;

  p {
    margin-top: 0;
  }

  .badge {
    text-transform: lowercase;
    background: darken($input, 3%);
    border-radius: 2px;
    font-weight: normal;
    color: lighten($text, 8%);
    margin: 0;
    padding: 2px 0;
    font-size: 95%;

    &:before,
    &:after {
      content: '\00a0';
    }
  }
}

.issue-comments {
  border-left: 2px solid lighten($border, 2%);
  padding: 2rem;
  margin: 0 0 0 2rem;
  list-style-type: none;

  .comment {
    margin-bottom: 1.5rem;

    p {
      margin: 0;
    }

    .staff-title {
      color: darken($primary, 4%);
      margin: 0 0 0.25rem;
      display: flex;
      align-items: center;

      i.material-icons {
        color: $primary;
        font-size: 22px;
        margin: -0.25rem 0.5rem -0.25rem 0;
      }
    }

    .footer {
      margin: 0.25rem 0 0;
      color: lighten($text, 20%);
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.comment-box {
  padding: 1.5rem;

  .field {
    margin: 0;
  }

  .buttons {
    margin: 1rem 0 0;

    .button {
      margin: 0;
    }
  }
}