// Primary colours
$primary: red;
$primary-inverted: white;

// Secondary colours
$secondary: blue;
$secondary-inverted: white;

// Text colours
$text: hsl(220, 15%, 21%);
$text-inverted: hsl(220, 15%, 95%);
$text-bold: hsl(220, 15%, 17%);
$text-bold-inverted: hsl(220, 15%, 98%);