$primary-hue: 145;

// Primary colours
$primary: hsl($primary-hue, 63%, 49%);
$primary-inverted: hsl($primary-hue, 15%, 99%);

// Secondary colours
$secondary: blue;
$secondary-inverted: white;

// Text colours
$text: hsl($primary-hue, 15%, 35%);
$text-inverted: hsl($primary-hue, 15%, 95%);
$text-bold: hsl($primary-hue, 15%, 34%);
$text-bold-inverted: hsl($primary-hue, 15%, 98%);

$border: hsl($primary-hue, 15%, 90%);
$button-border: $border;
$input: hsl($primary-hue, 15%, 96%);

$danger: hsl(11, 80%, 60%);
$danger-inverted: white;